.company-list-item{
    border: black solid 1px;
    border-radius: 5px;
    margin: 5px;
    list-style-type: none;

}
.div-company-list{
    border: black solid 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

ul{
    display: block;
    padding: 1px;
    margin: 1px;
}

.buttonCreate{
    background-color: darkseagreen;
    border: black solid 1px;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup button {
    margin-top: 10px;
}
