.company-list-item{
    border: black solid 1px;
    border-radius: 5px;
    margin: 5px;
    list-style-type: none;

}
.div-company-list{
    border: black solid 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

ul{
    display: block;
    padding: 1px;
    margin: 1px;
}

.buttonCreate{
    background-color: darkseagreen;
    border: black solid 1px;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
}